<a routerLink="/">voltar</a>
<br><br>
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Boletim escolar</strong>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <table border="1">
            <thead>
                <tr>
                    <td ROWSPAN=2 class="text-center">
                        <b>Disciplina</b>
                    </td>
                    <th id="imp" colspan="3">1 Bimestre</th>
                    <th id="dom" colspan="3">2 Bimestre</th>
                    <th id="dom" colspan="3">3 Bimestre</th>
                    <th id="dom" colspan="3">4 Bimestre</th>
                    <th id="dom" colspan="3">Avaliação/Situação</th>
                </tr>
                <tr>
                    <th headers="imp imp-che" id="imp-che-tipoa">Tipo A</th>
                    <th headers="imp imp-che" id="imp-che-tipob">Tipo B</th>
                    <th headers="imp imp-che" id="imp-che-tipob">Tipo C</th>

                    <th headers="imp imp-che" id="imp-che-tipoa">Tipo A</th>
                    <th headers="imp imp-che" id="imp-che-tipob">Tipo B</th>
                    <th headers="imp imp-che" id="imp-che-tipob">Tipo C</th>

                    <th headers="imp imp-che" id="imp-che-tipoa">Tipo A</th>
                    <th headers="imp imp-che" id="imp-che-tipob">Tipo B</th>
                    <th headers="imp imp-che" id="imp-che-tipob">Tipo C</th>

                    <th headers="imp imp-che" id="imp-che-tipoa">Tipo A</th>
                    <th headers="imp imp-che" id="imp-che-tipob">Tipo B</th>
                    <th headers="imp imp-che" id="imp-che-tipob">Tipo C</th>

                    <th headers="imp imp-che" id="imp-che-tipoa">Média</th>
                    <th headers="imp imp-che" id="imp-che-tipob">% Freq Total</th>
                    <th headers="imp imp-che" id="imp-che-tipob">Situação</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th headers="rio" id="rio-atacado">Atacado</th>
                    <td headers="imp imp-dam rio rio-atacado">1,00</td>
                    <td headers="imp imp-che imp-che-tipoa rio rio-atacado">9,00</td>
                    <td headers="imp imp-che imp-che-tipob rio rio-atacado">6,00</td>
                    <td headers="dom dom-dam rio rio-atacado">1,20</td>
                    <td headers="imp imp-dam rio rio-atacado">1,00</td>
                    <td headers="imp imp-che imp-che-tipoa rio rio-atacado">9,00</td>
                    <td headers="imp imp-che imp-che-tipob rio rio-atacado">6,00</td>
                    <td headers="dom dom-dam rio rio-atacado">1,20</td>
                    <td headers="imp imp-dam rio rio-atacado">1,00</td>
                    <td headers="imp imp-che imp-che-tipoa rio rio-atacado">9,00</td>
                    <td headers="imp imp-che imp-che-tipob rio rio-atacado">6,00</td>
                    <td headers="dom dom-dam rio rio-atacado">1,20</td>
                    <td headers="imp imp-che imp-che-tipoa rio rio-atacado">9,00</td>
                    <td headers="imp imp-che imp-che-tipob rio rio-atacado">6,00</td>
                    <td headers="dom dom-dam rio rio-atacado">1,20</td>

                </tr>
            </tbody>

        </table>

    </mat-expansion-panel>
</mat-accordion>
<br>
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Frequência escolar</strong>
            </mat-panel-title>
        </mat-expansion-panel-header>

    </mat-expansion-panel>
</mat-accordion>