<a routerLink="/">voltar</a>
<br><br>
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Boletim escolar</strong>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <table>
            <tr class="identificador-content">
                <td>
                    <span class="identificador-nome">Aluno:</span>
                    <input type="button" [(ngModel)]="aluno.nome" name="nomealuno">
                </td>
                <td>
                    <span class="identificador-nome">Matrícula:</span>
                    <input type="button" [(ngModel)]="aluno.matricula" name="matricula">
                </td>
                <td>
                    <span class="identificador-nome">Status:</span>
                    <input type="button" [(ngModel)]="aluno.status" name="status">
                </td>
            </tr>
        </table>
        <br>
        <table class="text-center">
            <thead>
                <tr class="bg-blue">
                    <td ROWSPAN=2 class="text-center">
                        <b>Disciplina</b>
                    </td>
                    <th colspan="1">1 Bimestre</th>
                    <th colspan="1">2 Bimestre</th>
                    <th colspan="1">3 Bimestre</th>
                    <th colspan="1">4 Bimestre</th>
                    <th rowspan="4">Média Final</th>
                </tr>
                <tr class="bg-blue">
                    <th>Nota</th>
                    <th>Nota</th>
                    <th>Nota</th>
                    <th>Nota</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>Participação em sala de aula</th>
                    <td *ngFor="let pb of primeirobimestre">{{pb.n1}}</td>
                    <td *ngFor="let sb of segundobimestre">{{sb.n1}}</td>
                    <td *ngFor="let tb of terceirobimestre">{{tb.n1}}</td>
                    <td *ngFor="let qb of quartobimestre">{{qb.n1}}</td>
                </tr>
                <tr>
                    <th>Entrega das tarefas</th>
                    <td *ngFor="let pb of primeirobimestre">{{pb.n2}}</td>
                    <td *ngFor="let sb of segundobimestre">{{sb.n2}}</td>
                    <td *ngFor="let tb of terceirobimestre">{{tb.n2}}</td>
                    <td *ngFor="let qb of quartobimestre">{{qb.n2}}</td>
                </tr>
                <tr>
                    <th>Trabalho Bimestral</th>
                    <td *ngFor="let pb of primeirobimestre">{{pb.n3}}</td>
                    <td *ngFor="let sb of segundobimestre">{{sb.n3}}</td>
                    <td *ngFor="let tb of terceirobimestre">{{tb.n3}}</td>
                    <td *ngFor="let qb of quartobimestre">{{qb.n3}}</td>
                </tr>
                <tr>
                    <th>Prova Bimestral</th>
                    <td *ngFor="let pb of primeirobimestre">{{pb.n4}}</td>
                    <td *ngFor="let sb of segundobimestre">{{sb.n4}}</td>
                    <td *ngFor="let tb of terceirobimestre">{{tb.n4}}</td>
                    <td *ngFor="let qb of quartobimestre">{{qb.n4}}</td>
                </tr>
            </tbody>
            <tbody>
                <tr style="background: #e0e0e0;color:#000;">
                    <th>Média bimestral</th>
                    <td><input type="button" [(ngModel)]="mediaprimeirobimestre"></td>
                    <td><input type="button" [(ngModel)]="mediasegundobimestre"></td>
                    <td><input type="button" [(ngModel)]="mediaterceirobimestre"></td>
                    <td><input type="button" [(ngModel)]="mediaquartobimestre"></td>
                    <td><input type="button" [(ngModel)]="mediafinal"></td>
                </tr>
            </tbody>
        </table>

        <tbody class="resultado-final">
            <tr class="bg-blue">
                <th>Resultado final</th>
            </tr>
            <tr>
                <th>Aprovado</th>
            </tr>
        </tbody>

    </mat-expansion-panel>
</mat-accordion>
<br>
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Frequência escolar</strong>
            </mat-panel-title>
        </mat-expansion-panel-header>

    </mat-expansion-panel>
</mat-accordion>