.sidenav {
    background-color: #2b58a0;
    overflow: hidden;
    padding: 10px 13px!important;
}

.sidenav a {
    color: #f1f1f1!important;
}

.sidenav i {
    padding-right: 5px;
}

.content {
    padding: 16px;
}

.menu-item {
    border-radius: 9px;
    margin: 21px 3px;
    background: #607fb187;
}

.mat-drawer-inner-container {
    overflow: hidden!important;
}