html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: #fafafa;
}

.text-white {
    color: #f1f1f1!important;
}

.danger {
    color: #e35e6b;
}

.v-middle {
    vertical-align: middle;
}