html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", sans-serif;
    background: #fafafa;
}


/* alinha os ícones de ações ao centro */

.mat-fab .mat-button-wrapper {
    padding: 0!important;
}


/* cor do texto da sidebar */

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
    color: #fff;
}

.text-white {
    color: #f1f1f1!important;
}

.danger {
    color: #e35e6b;
}

.material-icons {
    vertical-align: middle;
}

.v-middle {
    vertical-align: middle;
}

.identificador-content {
    width: 100%;
}

.bg-blue {
    background: #3f51b5;
    color: #f1f1f1;
    font-weight: 100!important;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.identificador-nome {
    background: #3f51b5;
    font-weight: 400;
    padding: 3px 12px;
    margin-left: -1px;
    color: #fff;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #2b58a0e6;
    color: #ffffff;
    text-align: center;
}

.titulo-atividade {
    font-weight: 600;
    font-size: 14px;
}