.full-width-table {
    width: 100%;
}

.edit {
    margin-right: 1em;
}

.actions {
    opacity: 0;
}

tr:hover .actions {
    opacity: 1;    
}

.edit>i {
    padding: 10px;
    font-size: 13px;
    border: 1px solid;
    border-radius: 50%;
    color: #d39309;
}

.delete>i {
    padding: 10px;
    font-size: 13px;
    border: 1px solid;
    border-radius: 50%;
    color: #e35e6b;
}