<a routerLink="/">voltar</a>
<br><br>
<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>Lançamento de notas e faltas</strong>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <form>
            <div fxLayout="row" class="grid-container">
                <mat-form-field fxFlex="30" class="grid-item">
                    <input matInput placeholder="Aluno" [(ngModel)]="aluno.nome" name="aluno">
                </mat-form-field>

                <mat-form-field appearance="fill" class="grid-item">
                    <mat-label>Bimestre</mat-label>
                    <mat-select [(ngModel)]="aluno.bimestre" name="bimestre" type="number">
                        <mat-option *ngFor="let bimestre of bimestres" [value]="bimestre.value">
                            {{bimestre.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill" class="grid-item">
                    <mat-label>Faltas</mat-label>
                    <input [(ngModel)]="aluno.faltas" name="faltas" matInput #falta maxlength="2" placeholder="Ex. 40" value="0">
                    <mat-hint align="end">{{falta.value.length}} / 2</mat-hint>
                </mat-form-field>
            </div>

            <table>
                <tr>
                    <th>Atividade</th>
                    <th>Peso</th>
                    <th>Nota</th>
                </tr>
                <tr>
                    <td>Participação em sala de aula</td>
                    <td>1.5</td>
                    <td><input type="text" [(ngModel)]="aluno.n1" name="n1"></td>
                </tr>
                <tr>
                    <td>Entrega das tarefas</td>
                    <td>2.5</td>
                    <td><input type="text" [(ngModel)]="aluno.n2" name="n2"></td>
                </tr>
                <tr>
                    <td>Trabalho Bimestral</td>
                    <td>3.0</td>
                    <td><input type="text" [(ngModel)]="aluno.n3" name="n3"></td>
                </tr>
                <tr>
                    <td>Prova Bimestral</td>
                    <td>3.0</td>
                    <td><input type="text" [(ngModel)]="aluno.n4" name="n4"></td>
                </tr>
            </table>


            <button class="criar" (click)="atualizar()" title="Salvar" mat-fab color="primary">
                <i class="material-icons">done</i>
            </button>
        </form>

    </mat-expansion-panel>
</mat-accordion>