td {
    padding: 5px;
}

th {
    text-transform: uppercase;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 1px 3px rgba(107, 107, 107, 0.075);
    display: table;
    border-radius: 6px;
    overflow: hidden;
}

mat-card-title {
    font-size: 14px!important;
    color: #333;
}

.card-description {
    font-size: 14px;
    color: #2b58a0e6;
}

input[type=button] {
    background-color: transparent;
    border: none;
    color: #333;
    text-decoration: none;
}

.styled-table thead tr th,
td {
    border: 1px solid #fdfdfd;
}

.criar {
    position: fixed;
    bottom: 60px;
    right: 16px;
    z-index: 10;
}

.grid-container {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.input {
    width: 35px;
    margin: 0!important;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input:focus {
    outline: none;
}