<a routerLink="/">Voltar</a>
<br><br>
<mat-card>
    <mat-card-header>
        <mat-card-title>
            <strong>
            <i class="material-icons card-description">description</i>
            Lançamento de notas e faltas</strong>
        </mat-card-title>
    </mat-card-header>
    <form>
        <app-identificacao-aluno></app-identificacao-aluno>
        <table class="styled-table">
            <thead>
                <tr>
                    <td ROWSPAN=2 class="text-center">
                        <b>Disciplina</b>
                    </td>
                    <td ROWSPAN=2 class="text-center">
                        <b>Peso</b>
                    </td>
                    <th colspan="2">1º Bimestre</th>
                    <th colspan="2">2º Bimestre</th>
                    <th colspan="2">3º Bimestre</th>
                    <th colspan="2">4º Bimestre</th>
                </tr>
                <tr>
                    <th>Nota</th>
                    <th>Falta</th>
                    <th>Nota</th>
                    <th>Falta</th>
                    <th>Nota</th>
                    <th>Falta</th>
                    <th>Nota</th>
                    <th>Falta</th>
                </tr>
            </thead>

            <tbody class="text-center">
                <tr>
                    <th class="titulo-atividade">Participação em sala de aula</th>
                    <td>1.5</td>
                    <td *ngFor="let pb of primeirobimestre">
                        <input [(ngModel)]="pb.n1" name="pbn1" maxlength="3" class="input" type="number">
                    </td>
                    <td *ngFor="let pb of primeirobimestre">
                        <input [(ngModel)]="pb.faltas" name="pbfaltas" maxlength="3" class="input" type="number">
                    </td>
                    <td *ngFor="let sb of segundobimestre">
                        <input [(ngModel)]="sb.n1" name="sbn1" maxlength="3" class="input" type="number">
                    </td>
                    <td *ngFor="let sb of segundobimestre">
                        <input [(ngModel)]="sb.faltas" name="sbfaltas" maxlength="3" class="input" type="number">
                    </td>
                    <td *ngFor="let tb of terceirobimestre">
                        <input [(ngModel)]="tb.n1" name="tbn1" maxlength="3" class="input" type="number">
                    </td>
                    <td *ngFor="let tb of terceirobimestre">
                        <input [(ngModel)]="tb.faltas" name="tbfaltas" maxlength="3" class="input" type="number">
                    </td>
                    <td *ngFor="let qb of quartobimestre">
                        <input [(ngModel)]="qb.n1" name="qbn1" maxlength="3" class="input" type="number">
                    </td>
                    <td *ngFor="let qb of quartobimestre">
                        <input [(ngModel)]="qb.faltas" name="qbfaltas" maxlength="3" class="input" type="number">
                    </td>
                </tr>
                <tr>
                    <th class="titulo-atividade">Entrega das tarefas</th>
                    <td>2.5</td>
                    <td *ngFor="let pb of primeirobimestre">
                        <input [(ngModel)]="pb.n2" name="pbn2" maxlength="3" class="input" type="number">
                    </td>
                    <td></td>
                    <td *ngFor="let sb of segundobimestre">
                        <input [(ngModel)]="sb.n2" name="sbn2" maxlength="3" class="input" type="number">
                    </td>
                    <td></td>
                    <td *ngFor="let tb of terceirobimestre">
                        <input [(ngModel)]="tb.n2" name="tbn2" maxlength="3" class="input" type="number">
                    </td>
                    <td></td>
                    <td *ngFor="let qb of quartobimestre">
                        <input [(ngModel)]="qb.n2" name="qbn2" maxlength="3" class="input" type="number">
                    </td>
                    <td></td>
                </tr>
                <tr *ngFor="let tb of terceirobimestre">
                    <th class="titulo-atividade">Trabalho Bimestral</th>
                    <td>3.0</td>
                    <td *ngFor="let pb of primeirobimestre">
                        <input [(ngModel)]="pb.n3" name="pbn3" maxlength="3" class="input" type="number">
                    </td>
                    <td></td>
                    <td *ngFor="let sb of segundobimestre">
                        <input [(ngModel)]="sb.n3" name="sbn3" maxlength="3" class="input" type="number">
                    </td>
                    <td></td>
                    <td *ngFor="let tb of terceirobimestre">
                        <input [(ngModel)]="tb.n3" name="tbn3" maxlength="3" class="input" type="number">
                    </td>
                    <td></td>
                    <td *ngFor="let qb of quartobimestre">
                        <input [(ngModel)]="qb.n3" name="qbn3" maxlength="3" class="input" type="number">
                    </td>
                    <td></td>
                </tr>
                <tr *ngFor="let qb of quartobimestre">
                    <th class="titulo-atividade">Prova Bimestral</th>
                    <td>3.0</td>
                    <td *ngFor="let pb of primeirobimestre">
                        <input [(ngModel)]="pb.n4" name="pbn4" maxlength="3" class="input" type="number">
                    </td>
                    <td></td>
                    <td *ngFor="let sb of segundobimestre">
                        <input [(ngModel)]="sb.n4" name="sbn4" maxlength="3" class="input" type="number">
                    </td>
                    <td></td>
                    <td *ngFor="let tb of terceirobimestre">
                        <input [(ngModel)]="tb.n4" name="tbn4" maxlength="3" class="input" type="number">
                    </td>
                    <td></td>
                    <td *ngFor="let qb of quartobimestre">
                        <input [(ngModel)]="qb.n4" name="qbn4" maxlength="3" class="input" type="number">
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <button class="criar" (click)="atualizar()" title="Salvar" mat-fab color="primary">
        <i class="material-icons">done</i>
    </button>
    </form>
</mat-card>